name: "Build"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  Build:
    name: "Release"
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make
      - name: Release
        uses: softprops/action-gh-release@v2.0.9
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
          files: ovlmenu.ovl
          tag_name: Draft